
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import 'fonts';
@import 'animate' ;
$nav-color : #BE2B2A ;
$white-text : #FFFFFF ;
$title-color : #B34F4F ;
body {
                font-family: "B Yekan" ;
                text-align: right;
                direction: rtl;
                width: 100%;
                margin: 0 auto;
              overflow-x: hidden;
}
.container {
              padding: 0;
              width: 100%;
}
.container-fluid {
              padding: 0 auto;
              width: 100%;
}
.container-full {
              margin: 0 auto;
              width: 100%;
}
 .mynav {
              width: 100%;
              background-color: $nav-color;
              padding: 0 auto ;
               margin: 0 auto;
             border: 0;
              li {
                padding-top: 20px;
                padding-bottom: 16px ;
                padding-left: 3px;
                padding-right: 3px;
              }

            img {
              width: 100px;
              height: 100px;
              padding-top: 8px;
              padding-bottom: 8px ;
            }
            .navbar-header {
              width:80px
            }
}
  .intro
  {
       width: 100%;
      padding: 0;
    margin: 0 ;
      background-attachment: fixed;
      background-repeat: no-repeat;
      //background-position: center center;
      background-image:url("../uploads/bg_red.jpg");

    .col-xs-6 {
      padding-right: 50px;
    }
    img {
      padding-top: 15px;
      padding-bottom: 50px;
    }
    h1 {
      color: $white-text ;
      font-size: 55px;
    }
    h2 {
      color: #652222 ;
    }
    P {
      color: #FFFFFF;
      font-size: 18px ;
    }
  }
  .info {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
    }
    .info-top {
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100%;
      .info-item {
        i {
          color : #d5d5d5 ;
          padding-top: 15px;
          padding-bottom: 15px;
          }
         i:hover {
           transition: 0.5s;
           color: #BE2B2A;
        }
        .info-title {
          font-weight: 500;
          color: $title-color;
        }
        .info-content {
          color: #DCALLB;
        }
      }

    }
    hr {
      margin-top: 65px;
      margin-bottom: 55px;
      border-width: 1px;
      border-color:title-color ;
    }
    .info-down {
      .info-down-img {
        padding-bottom: 0px ;
        margin-bottom: 0px ;
      }

      .info-down-title {
        color: $title-color;
        padding-right:50px ;
      }
      .info-down-content {
        font-size: 20px;
        padding-right:50px ;
       }
    }
  }


  .others {
    width: 100%;
    color: $white-text;
      padding: 0px;
      margin: 0px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      //background-position: center center;
      background-image:url("../uploads/bg_red.jpg");

      i {
        color:#d5d5d5 ;
      }
      i :hover {
      animation : bounceInUp 1s;
    }
    .container-full {
      padding-top: 30px;
      padding-bottom: 60px;
    }
    .others-items{
      padding-bottom: 30px;
    }
    h1 {
      padding-bottom: 25px;
    }
  }

  .app {
      .app-title {
        color : $title-color ;
      }
    p {
      color:#652222 ;
      display : inline ;
    }
    button {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    button :hover {
      color: #761c19 ;
    }
  }
.qr {
  width: 100%;
  color: $white-text;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  //background-position: center center;
  background-image:url("../uploads/bg_red.jpg");

    h1  {
      padding-top:20px ;
      padding-bottom: 20px;
    }
  h2  {
    padding-top:20px ;
    padding-bottom: 20px;
  }
  .qrimg {
    display: flex;
    justify-content: center;
  }
}

.sign{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #be2b2a;

  .container-fluid{

    padding-top: 50px;
    width: 100%;
    background-color: #be2b2a;
    .img-responsive{
      padding-bottom: 5px;
    }

    .form-group {
      max-width: 200px;
    }
    .btn{
      width: 200px;
      color: #be2b2a;
    }
  }
  img{
    height: 20px;
    width: 20px;
  }

  .container_links{
    padding-bottom: 50px;
    background-color: #be2b2a;
  }


  .row_links{
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: space-around;
    padding-right: 340px;
    padding-left: 340px;
    color: white;
    background-color: #be2b2a;

  }

  .link{
    color: white;
  }

  .link:hover{
    color: rgba(230, 97, 99, 0.76);
    text-decoration: none;
  }


  .logo {
    height: 150px;
    width: 150px;
  }
  .col{
    padding-left: 5px;
    padding-right: 5px;

  }



  .row_social{
    display: flex;
    justify-content: center;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text{
  color:white;
    padding-bottom: 50px;
  }
  hr{
    margin-top: 35px;
    margin-bottom: 10px;
    border-width:1px;
    border-color:white ;
  }
}


.gallery{

    padding-top: 20px;
  padding-bottom: 50px;
  .gallery-title {
    padding-top: 20px ;
    padding-bottom: 15px ;
    color: $title-color;
  }
  .gal_row{
    display: flex;
    justify-content: center;
  }

.col{
  padding-right: 5px;
  padding-left: 5px;
}

img {
  border-radius:10px;
}

  .btn {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

}